body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #1D2C2D;
  }

.messenger{
    width: 800px;
    height: 600px;
    margin: auto;
    border: 2px solid #1D2C2D;
    box-sizing: border-box;
}

.messenger-topic{
  height: 70px;
  border-bottom: 2px solid #1D2C2D;
  background-color: #6C7F81;
  box-sizing: border-box;
}

.create-info{
  display: flex;
}

h1{
  display: inline-block;
  margin: 0px;
  margin-left: 15px;
}

i{
  margin-left: 220px;
  font-size: 32px;
}

.topic-p{
  margin: 0px;
  margin-left: 15px;
}

.messenger-workspace{
  width: 796px;
  height: 526px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #DFE6E4;
  box-sizing: border-box;
}

.message-block{
  display: flex;
  justify-content: space-around;
}

.member{
  width: 150px;
  border-right: 2px solid #1D2C2D;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.icon{
  width: 46px;
  height: 46px;
  border: 2px solid #1D2C2D;
  border-radius: 50%;
  line-height: 46px;
  text-align: center;
  background-color: #6C7F81;
}

.message-datetime{
  font-size: 12px;
  margin: 5px;
}

.message{
  padding: 5px;
}

label{
  margin: 10px;
}

.message-text{
  width: 587px;
  border: 2px solid #1D2C2D;
  margin: 0px 10px;
  padding: 5px;
  background-color: #B0C2BD;
}



